// colors
$primary-color:hsl(218, 44%, 22%) ;
$gray-color: hsl(220, 15%, 55%);
$bg-color:hsl(212, 45%, 89%);

$white-color: #fff;

// FONT SIZE
$default-font-size: 1.5rem;
$title-font-size: 2rem;

// grid
$grid-width:114rem;

$border-radius: 1rem;
